<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

<listeners>
    <listener class-name="selenium.Listeners"></listener>
</listeners>

    <test name="Test1">
        <classes>

            <class name="selenium.HomePage"/>

        </classes>
    </test>
    <test name="Test2">
        <classes>

        <class name="selenium.validateTitle"/>

        </classes>
    </test>

    <test name="Test3">
        <classes>
            <class name="selenium.ValidatingNavigationBar"/>


        </classes>

        </test></suite>